.card {
  transition: all 235ms ease 0s;
  /* box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2); */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  will-change: transform;
  word-wrap: break-word;
}
.card:hover {
  transform: translate3d(0, 2px, 0);
}

.card .card-header {
  background: transparent;
  padding: 0.75rem 1.25rem;
}
.card .card-header {
  border-bottom: 2px solid #4d4e4f;
}

.card .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card .card-body .card-text,
.card .card-body p {
  margin-bottom: 1rem;
  margin-top: 0;
}
